@model ProductManagement.Entities.Models.About

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="text-center">
    <img src="@Model.ImageURL" width="50%" />
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description</p>
</div>
