@model ProductManagement.Entities.Models.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<h1>Hakkımızda Bilgileri</h1>

<a class="btn btn-danger" href="@Url.Action("Edit", "Abouts", new {id=Model.Id})">Düzenle</a>

<div class="">
    <img src="@Model.ImageURL" />
    <hr />
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
</div> 